<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" \app\src\css\login.css">
    <script src="Time_Elias\app\src\js\login.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="form-login">
            <div class="login-input-group">
                <input type="email" name="email" placeholder="DIGITE SEU EMAIL" required>
            </div>
            
            <div class="login-input-group">
                <input type="password" name="senha" placeholder="DIGITE SUA SENHA" required>
            </div>

            <div class="login-relembrar-senha">
                <label><input type="checkbox">Lembre-me</label>
                <a href="recuperar_senha.html">Esqueceu a Senha?</a>
            </div>

            <button type="submit" class="login-botao">Entrar</button>

            <div class="login-link-registro">
                <p> A empresa não possui conta? <a href="cadastro.html"> Criar conta</a></p>
            </div>
        </form>
    </div>
    
</body>
</html>
